*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}


.header{
    background: rgba(0, 0, 0, 1)
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ffffff;
    font-size: 40px}

.header__list{
    display: flex;
    gap: 10px;

    color: white;
}